html{
  scroll-behavior: auto;
}

:root{
  --primary: rgb(201, 22, 22); 
  --secondary: rgb(0, 0, 0);
  --tertiary: rgb(235, 7, 7);
}

header {
  background-color: var(--tertiary);
  height: 200px;
  background-size: cover;
  
}

header a{
color: var(--secondary);

}

header h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 7px;
  font-weight: 100;
  background-color: var(--tertiary); width: 100%; height: 100px;
  color: var(--secondary);
  margin: 0px;
  padding-top: 25px;

}

header nav ul{
  display: flex; 
  flex-direction: row;
  text-align: right;
  justify-content: space-evenly;
  list-style: none;
 }

 header nav ul li {
  display: inline-block;
}

header nav ul li a{
  width: 80%;
  display: block;
  padding: 10px 50px 10px 50px;
  font-weight: lighter;
  font-size: 25px;
  color: var(--secondary);  
}


.about {
  align-self: auto;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.about h2 {
  font-size: 35px;
  padding-top: 65px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--secondary);
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.bio-p {
  margin-top: 20px;
  resize: both;
  position: relative;
  flex: 2;
}

.bio-p p {
  padding: 0 10px 20px 20px;
  line-height: 1.6;
  font-size: 25px;
} 

.bio-img {
  margin-top: 20px;
  
 
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow: auto;
  align-items: flex-start;
  width: 50px auto;
}
.experience {
  overflow: hidden;
  font-size: 30px;
  color: white;
}
body{
  background-image: url(./Images/img.jpg);
}
.work {
  width: 100%;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100px;
  height: 50px;
   display: flex;
   flex-wrap: wrap;
   flex-shrink: 1;
}
#work img{
  width: 100%;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100px;
  height: 50px;
   display: flex;
   flex-wrap: wrap;
   flex-shrink: 1;
}

#contact{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (max-width: 980px){
  header h1{
      font-size: 35px;
  }
  header nav ul li a{
      flex-direction: column;
      font-size: 20px;
      justify-items: right
  }

  .left{
      border-right: none;   
  }

  .resume {
    color: var(--secondary);
    font-size: 22px;
    display: inline block;


}



  #contact{ 
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
  }
  .contact-info{
     flex-direction: column;
    justify-content: center; 
    line-height: 2.8;
     }
}  


#contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px;
  font-size: 30px;
  list-style: none;
  text-decoration: underline; 
  font-weight: bolder;
  
}

a:link, a:visited {
  color: var(--secondary);
} 

a:hover {
  color: var(--secondary);
}






